.library_title {
    color: midnightblue;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: block;
    border-top: 10px solid rgb(53, 34, 136);
    border-bottom: 10px solid rgb(53, 34, 136);
    border-left: 10px solid rgb(53, 34, 136);
    border-right: 10px solid rgb(53, 34, 136);
    -webkit-transition-duration: 2s;
    background-color: rgba(35, 90, 142, 0.486);
}

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:14px;
    font-size: 20pt;
    font-weight: bold;
}
#sidebar {
    height: 300%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(https://www.ppt-backgrounds.net/thumbs/light-blue-art-ppt-backgrounds.jpg);
    overflow-x: hidden;
    padding: 10px 10px 10px 16px;
    text-decoration: none;
    display: block;
    border-top: 5px solid rgb(206, 228, 231);
    border-bottom: 5px solid rgb(206, 228, 231);
    -webkit-transition-duration: 2s;
    font-family: fantasy;
    color: purple;
    list-style: upper-roman;
    font-weight: inherit;
    list-style-type: none;
}
ul {
    list-style-type: none;
}
.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 190px;
    left: 650px;
    font-size: 25px;
}
body {
    background-color: rgb(226, 204, 226);
}
.img1 {
    position: absolute;
    top: 280px;
    left: 415px;
}
.img2 {
    position: absolute;
    top: 280px;
    left: 740px;
}
.img3 {
    position: absolute;
    top: 280px;
    left: 1090px;
}
.img4 {
    position: absolute;
    top: 600px;
    left: 435px;
}
.img5 {
    position: absolute;
    top: 600px;
    left: 755px;
}
.img6 {
    position: absolute;
    top: 600px;
    left: 1100px;
}
.d1 {
    position: absolute;
    top: 450px;
    left: 390px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d2 {
    position: absolute;
    top: 450px;
    left: 690px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d3 {
    position: absolute;
    top: 450px;
    left: 1060px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d4 {
    position: absolute;
    top: 790px;
    left: 380px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d5 {
    position: absolute;
    top: 790px;
    left: 700px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d6 {
    position: absolute;
    top: 790px;
    left: 1030px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headerimg {
    position: absolute;
    top: 50px;
    right: 50px;
    transition: ease-in;
}
